@model IEnumerable<pruebaPacifica.Models.Provincia>

@{
    ViewBag.Title = "provinciasFiltro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>provinciasFiltro</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id_departamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre_normalizado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id_departamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_normalizado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
